<div *ngIf="!favJob.length">
  <p class="noFav">No favorite jobs</p>
</div>
<div class="row job-row" *ngFor="let job of favJob">
  <div class="col-md-1">
    <img [src]="job.companyLogo" alt="{{ job.companyName }}" />
  </div>
  <div class="col-md-10">
    <a class="jobTitle" [routerLink]="['/jobs', job.id]">{{ job.title }}</a>
    <div class="job-info">
      <p>Company: {{ job.companyName }}</p>

      <p>Reference: {{ job.reference }}</p>
    </div>
  </div>

  <span
    class="icon-star active"
    [id]="'star-' + job.id"
    (click)="toggleFavorite(job)"
  ></span>
</div>
